/node_modules
/public/*
!/public/index.php
!/public/favicon.ico
!/public/.htaaccess
/storage/*.key
/vendor
.vscode/
.env
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
